
 .video-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom:5px ;
 }
 .video-stats{
    font-family: Roboto;
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px; 
 }
 .video-author{
    font-family: Roboto;
    font-size: 14px;
    color: #606060;
    margin-top:0;
    margin-bottom: 20px;
 }
 .video-text{
    font-family: Roboto;
    font-size: 14px;
    color: #606060;
    width: 280px;
    line-height:22px ;
    margin-top: 0px;
    margin-bottom: 100px;
 }
 .apple-text{
    background-color: rgb(227, 65, 64);
    font-size: 14px;
    color: white;
    text-align: center ;
    padding-top:18px ;
    padding-bottom: 18px;
 }
 .span-apple{
    margin-left: 1px;
 }
 .span-apple:hover{
    text-decoration: underline;
    cursor: pointer;
 }
